<%- include('partials/header'); -%>

<form class="form-login" action="/room" method="post">
  <h2>Private Chat</h2>
  <label for="username">Name</label>
  <input type="text" placeholder="Enter your Name" class="username" name="username" required>
  <label for="roomname">Room Name</label>
  <input type="text" placeholder="Enter Room Name" class="roomname" name="roomname" required>
  <button class="login-signup" type="submit" value="enter">Enter</button>
</form>

<%- include('partials/footer'); -%>
